<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Status</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<p><h1>User Note</h1></p>
    <div class="container info-boxes pt100 pb100">
    <table>
  <tr>
    <th>Id</th>
    <th>username</th>
      <th>Note Text</th>
    <th>Up Date</th>
    <th>Last up Date</th>

        {% for note in notes %}
          {{note.id}}
        {%endfor%}

     {% for note in notes %}
        {{note.username}}
     {%endfor%}

     {% for note in notes %}
       {{note.note_text}}
     {%endfor%}

      {% for note in notes %}
        {{note.update}}
     {%endfor%}

     {% for note in notes %}
        {{note.last_up_date}}
     {%endfor%}

  </tr>
  </table>
 </div>
 </body>
</html>
<!--<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>User Note</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Note Text</th>
    <th>Up Date</th>
    <th>Last up Date</th>
  </tr>

    <td>
        {% for note in notes %}
        {{note.id}}
        {%endfor%}
    </td>


  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>-->